<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
  <a class="navbar-brand" routerLink="dashboard">ProAgil Eventos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="eventos" routerLinkActive="active">Eventos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="palestrantes" routerLinkActive="active">Palestrantes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contatos" routerLinkActive="active">Contatos</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item dropdown" dropdown>
        <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                  aria-controls="dropdown-basic">
            Pablo<span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="navbarDropdownMenuLink">
            <li role="menuitem"><a class="dropdown-item" href="#">Perfil</a></li>            
            <li role="menuitem"><a class="dropdown-item" href="#">Sair</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
</nav>